/* Font Dosis from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Open+Sans:wght@400;600&display=swap");

@import "../TrackTodo/css/reset.css";
@import "../TrackTodo/css/main-container.css";
@import "../TrackTodo/css/variable.css";
@import "../TrackTodo/css/userinfo-container.css";

.body {
  font-family: "Dosis", sans-serif;
  
}
.hidden {
  display: none;
}





.background-img{
    background-image: url(../TrackTodo/images/background-img.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.userinfo-container {
  margin-bottom: 5vh;
  width: 500px;
  height: 230px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  transition: all 0.5s ease-in;
  z-index: 3;
}
